.box
{
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center

}

.red-box{

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;


}

.logo{
	
	
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.logo-name{
	
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}