@page "/transaction"
@layout MainNavLayout
@inject ITData data
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="full-body">
	<div class="top-box">
		<div>
			<input class="search-box" type="search" placeholder="Search Transaction By Description!" @bind="_SEARCHING"/>
			<button class="search-button" type="submit" @onclick="Search"><i class="bi bi-search"></i></button>
		</div>
		<div class="multiple-function-box">
			<button class="function-bttn" type="submit" @onclick="Export"><i class="bi bi-box-arrow-up"></i>Export</button>
			
			
			<button class="function-bttn" type="submit" @onclick="OpenDialogAsync"><i class="bi bi-plus-lg"></i>Add</button>
			<button class="function-bttn" type="submit" @onclick="OpenFilter"><i class="bi bi-funnel"></i>Filter</button>
		</div>
    </div>
	<div class="bottom-box">
		<table id="transaction_table">
			<tr>
				<th>Description<i id="sort-arrow" class="bi bi-arrow-down h5" @onclick="() => Sort(description_name)"></i></th>
				<th>Tags<i id="sort-arrow" class="bi bi-arrow-down h5" @onclick="() => Sort(tags_name)"></i></th>
				<th>Type<i id="sort-arrow" class="bi bi-arrow-down h5" @onclick="() => Sort(types_name)"></i></th>
				<th>Amount<i id="sort-arrow" class="bi bi-arrow-down h5" @onclick="() => Sort(amount_name)"></i></th>
				<th>Date<i id="sort-arrow" class="bi bi-arrow-down h5" @onclick="() => Sort(date_name)"></i></th>
		
			</tr>
			
			@foreach (var trans in transaction_get)
			{
				<tr>
					<td style="width:30%;">@trans._description</td>
					<td>@trans._tags</td>
					<td>@trans._types</td>
					<td>@currency@trans._amount</td>
					<td>@trans._date.ToString("yyyy-MM-dd")</td>
				</tr>
			}
			
		</table>
	
	</div>

	
</div>

