.full-body[b-1e0u0e148t] {
    height: 100%;
}

.top-box[b-1e0u0e148t] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.search-box[b-1e0u0e148t] {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    appearance: none;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.search-button[b-1e0u0e148t] {
    width: 50px;
    height: 40px;
    background-color: #3D00CA;
    color: white;
    margin-left: 5px;
    border-radius: 3px;
}


.multiple-function-box[b-1e0u0e148t] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.function-bttn[b-1e0u0e148t] {
    width: 80px;
    height: 40px;
    background-color: #3D00CA;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.edit-bttn[b-1e0u0e148t] {
    width: 60px;
    height: 30px;
    background-color: #3D00CA;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"][b-1e0u0e148t]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*
input[type="search"] {
    appearance: none;  For broader browser compatibility 
}*/

.bottom-box[b-1e0u0e148t] {
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

table[b-1e0u0e148t] {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th[b-1e0u0e148t] {
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #404040;
}

td[b-1e0u0e148t] {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

i[id="sort-arrow"][b-1e0u0e148t] {
    display: inline-block;
    color: transparent;
    transition: transform 0.3s ease;
}


    i[id="sort-arrow"]:hover[b-1e0u0e148t] {
        color: black;
        transform: rotate(180deg);
    }
